extends base

block content
    div#room
        form
            ul
    a(href="#")
        button#showBtn press
    br
    a(href="/")
        button go back 

    include partials/socket
    script(src="/assets/js/cert.js")