extends base

block content
    section.intro
        form(method="POST")#nameContainer
            input(placeholder="이름을 입력해주세요", name = "name", type="text", required)#nameInput
            input(type="submit", value = "확인")

    include partials/socket
    script(src="/assets/js/home.js")
    script(src="/assets/js/generate.js")