extends base

block content
    div#img_container
        img#img_shower(width = "1000px", class= "blur")
    div#btn_container(class = "blur")
        p 나를 실망시키지 말아라...
    a(href="../")
        button go to home
    
    include partials/socket
    script(src="/assets/js/showImage.js")