extends base

block content
    div.show__container
        div#img_container.img_shower
            img#img_shower.blur
        div#btn_container.btn_container
            p 나를 실망시키지 말아라...
    
    include partials/socket
    script(src="/assets/js/showImage.js")