extends base

block content
    div.show__container
        div#img_container.img_shower
            //-img(src="/assets/imgs/snu_logo.webp", alt="logo")#unload
            img(src="/assets/imgs/snuman.webp", alt="snuman")#img_shower
        div#btn_container.btn_container
            p 나를 실망시키지 말아라...
    
    h1#unload

    include partials/socket
    script(src="/assets/js/showImage.js")