extends base

block content
    div#img_container
        img#img_shower(width = "800px")
    div#btn_container
        button press
    a(href="../")
        button go to home
    
    include partials/socket
    script(src="/assets/js/showImage.js")