.intro {
  display: flex;
  position: relative;
  overflow-x: hidden;
  .home {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 300px;
    width: 70%;
    background-color: white;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    border-radius: 0.8rem;
    padding: 50px 70px;
    filter: drop-shadow(50px);
    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 50px;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        max-height: 80px;
        min-height: 30px;
        margin-bottom: 10px;
      }
      input:last-child {
        border: none;
        background-color: #104ea9;
        color: white;
        padding: 10px 0;
      }
    }
  }
}
